@tailwind base;
@tailwind components;
@tailwind utilities;

.mdxeditor {

  /** Code mirror */
  & .cm-editor {
    @apply font-light;
    @apply focus:bg-accent bg-transparent focus-within:text-foreground text-foreground/80 rounded-lg;
    .cm-cursor {
      @apply border-l-foreground;
    }

    &::selection {
      @apply  text-content;
    }
  }
  & .sp-editor .cm-editor {
    padding-bottom: 0;
    @apply bg-background;
  }

  & .cm-scroller {
    padding: 0 !important;
  }

  
  /* & .cm-line {
  }

  & .cm-content {
  } */

  & .cm-focused {
    outline: none;
    @apply bg-accent;
  }

  & .cm-selectionMatch,
  & .cm-matchingBracket {
    @apply bg-foreground/10 !text-primary ;
  }

  & .sp-wrapper {
    overflow: hidden;
    @apply bg-background;
  }

  & .sp-layout {
    border: none;
  }

  & .sp-cm {
    & pre {
      
      white-space: break-spaces;
      word-break: break-word;
      overflow-wrap: anywhere;
      flex-shrink: 1;
    }
  }

  /** Diff viewer */
  & .cm-mergeView .cm-scroller {
    @apply font-thin;
  }

  /** Diff viewer */
  & .cm-sourceView .cm-scroller {
    @apply font-thin;
  }

  & .cm-gutters {
    font-size: var(--text-xs);
    @apply text-xs bg-muted text-accent-foreground focus:bg-accent;

    & .cm-activeLineGutter {
      @apply  bg-muted;
    }
  }

  & .cm-activeLine {
    @apply bg-transparent;
  }

  hr[data-lexical-decorator=true].selected {
    @apply outline outline-2 outline-primary;
  }

  /* Hide the internal markdown parsing error message */
  & ._markdownParseError_uazmk_1211 {
    display: none;
  }
}